<section class="bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="text-block">
                    <h4>Frequently Asked Questions</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-block">
                    <h5>By applying am I locked into anything?</h5>
                    <p>
                        No. We're don't collect payment details at this stage. You can withdraw your application at any time if you need to.
                    </p>
                </div>
                <div class="text-block">
                    <h5>Is the Bootstrapper Membership open to small teams?</h5>
                    <p>
                        Yes, the membership is suitable for co-working teams of up to 3 people.
                    </p>
                </div>
                <div class="text-block">
                    <h5>Where can I find out more about the co-working terms and conditions?</h5>
                    <p>
                        Terms and conditions are displayed as part of the membership sign up process.
                    </p>
                </div>
                <div class="text-block">
                    <h5>How are applications assessed?</h5>
                    <p>
                        The assessment process reflects the Bootstrapper membership offering with criteria including technology fit, potential contribution to other Hub tenants and the talent development program as well as plans for growth.           </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-block">
                    <h5>How does payment work?</h5>
                    <p>
                        Memberships are billed monthly, in advance, via credit card.
                    </p>
                </div>
                <div class="text-block">
                    <h5>Will there be other kinds of memberships?</h5>
                    <p>
                        We're launching with the Bootstrapper membership and will add other membership types in the coming month. Keep an eye on our <a href="https://facebook.com/peregianhub" target="_new">Facebook page</a>. 
                    </p>
                </div>
                <div class="text-block">
                    <h5>Are these rates in place forever?</h5>
                    <p>
                        These are introductory rates for inaugural members as we move through the foundation phase. The rate will be in place for the first 6 months and reviewed thereafter.
                    </p>
                </div>

            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>