<section class="bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="text-block">
                    <h4>Frequently Asked Questions</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-block">
                    <h5>Why is this a tender process?</h5>
                    <p>
                        In order to comply with local government regulations.
                    </p>
                </div>
                <div class="text-block">
                    <h5>Is there an industry briefing?</h5>
                    <p>
                        Yes, industry briefings will be held on site from 10:30am till 12:30pm on 28 March 2018 and from 2pm till 4pm on 06 April 2018.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
              <div class="text-block">
                  <h5>Where can I direct my questions?</h5>
                  <p>
                      ALL questions related to this tender must be directed to the forum in the LG Tenderbox.
                  </p>
              </div>
                <div class="text-block">
                    <h5>I want to co-work at the Hub. Do I need to tender?</h5>
                    <p>
                        No, co-workers are not included in the tender. They should register their interest <a href="/coworkers">here</a.>
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>