<section>
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-6">
				Disclaimer: 
			</div>
		</div>
	</div>
</section>
<footer class="footer-3 text-center-xs space--xs bg--dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img alt="Image" class="logo" src="../img/logo_council.jpg" />
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <ul class="social-list list-inline list--hover">
                    <li>
                        <a href="http://www.twitter.com/peregianhub">
                            <i class="socicon socicon-twitter icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.facebook.com/peregianhub">
                            <i class="socicon socicon-facebook icon icon--xs"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-6">
							<a href="https://www.noosa.qld.gov.au" target="_new">Terms of Use</a>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <span class="type--fine-print">&copy;
                    <span class="update-year"></span> © Copyright 2018 Noosa Council</span>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>