<footer class="footer-3 text-center-xs space--xs bg--dark bg--turq">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img alt="Image" class="logo" src="../img/logo_council.jpg" />
								<span class="nc-attrib">The Hub is a Noosa Council initiative</span>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-6">
							<span class="footer_tiny">Disclaimer: For the avoidance of doubt, where information on this website may be inconsistent with the Tender documentation, the Tender documentation takes precedence.</span>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
							<a href="https://www.noosa.qld.gov.au/terms-of-use" target="_new">Terms of Use</a><br>
                <span class="type--fine-print">&copy;
                    <span class="update-year"></span> © Copyright 2018 Noosa Council</span>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>