<a id="join"></a>
<section class="text-center bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h2>Apply To Join The Hub</h2>
                <p class="lead">
                    The Hub's flexible environment is designed to host a mix of teams and individuals.</p>
										<br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4  col-sm-push-2">
                <div class="pricing pricing-1 boxed boxed--border boxed--lg text-center">
										<i class="icon icon--lg icon-Conference"></i>
                    <h4>Enterprises</h4>
                    <p>
                        Established (> 5 y/o) or Emerging (< 5 y/o) Enterprises needing their own discrete office space within the Hub for their team, are required to submit a tender.
                    </p>
                    <a class="btn btn--primary" href="/enterprises">
                        <span class="btn__text">
                            More about Tender Application
                        </span>
                    </a>
                </div>
                <!--end pricing-->
            </div>
            <div class="col-sm-4 col-sm-push-2">
                <div class="pricing pricing-1 boxed boxed--border boxed--lg text-center">
										<i class="icon icon--lg icon-Girl"></i>
                    <h4>Co-workers</h4>
                    <p>
                        Individual Entrepreneurs or small teams (<3 people) needing a desk in a shared co-working space within the Hub, are required to register their interest.
                    </p>
                    <a class="btn btn--primary-1 typeform-share" href="/coworkers">
                        <span class="btn__text">
                            More about Co-working
                        </span>
                    </a>
                </div>
                <!--end pricing-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
