<a id="start"></a>
<div class="nav-container ">
    <div class="bar bar--sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <a href="index.html">
                        <img class="logo logo-dark" alt="logo" src="../img/hub_logo_dark.png" />
                        <img class="logo logo-light" alt="logo" src="../img/hub_logo_light.png" />
                    </a>
                </div>
                <div class="col-xs-9 col-sm-10 text-right">
                    <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm">
                        <i class="icon icon--sm stack-interface stack-menu"></i>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
    <!--end bar-->
		
		<nav class="bar bar--sm bar--dark bar--line bar-1 hidden-xs" id="menu1">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-1 col-sm-2 hidden-xs">
  					<div class="bar__module">
  						<a href="/">
    						<img alt="logo" class="logo logo-dark" src="../img/hub_logo_dark.png">
    						<img alt="logo" class="logo logo-light" src="../img/hub_logo_light.png">
  						</a>
  					</div>
  				</div>
  				<div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
  					<div class="bar__module">
  						<ul class="menu-horizontal text-left">
  							<li>
  								<a href="/barception">Barception</a>
  							</li>
  							<li>
  								<a href="/hub">Tour the Facility</a>
  							</li>
  							<li>
  								<a href="/location">Peregian Beach</a>
  							</li>
  							<li>
  								<a href="/team">Team</a>
  							</li>
  						</ul>
  					</div>
						<div class="bar__module">
                <a class="btn btn--primary-1 btn--sm type--uppercase inner-link" href="/coworkers">
                    <span class="btn__text">
                        Join the Hub
                    </span>
                </a>
                <a class="btn btn--primary-1 btn--sm type--uppercase inner-link nav-coworkers is-hidden" href="http://members.peregianhub.com.au">
                    <span class="btn__text">
                        Sign In
                    </span>
                </a>
            </div>
  				</div>
  			</div>
  		</div>
  	</nav>
		

    <!--end bar-->
</div>