<section class="bg--light" data-gradient-bg="#F4E2D4,#FDB664">
    <div class="container">
        <div class="row">
            <div class="masonry">
                <div class="masonry__container masonry--active">
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_p1.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_p1.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_p3.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_p3.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_p4.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_p4.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_p5.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_p5.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_p2.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_p2.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_p6.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_p6.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_p7.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_p7.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_p8.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_p8.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_air1.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_air1.jpg"> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>