<section class="bg--light" data-gradient-bg="#F4E2D4,#FDB664">
    <div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2>Photo Gallery</h2>
					</div>
				</div>
        <div class="row">
            <div class="masonry">
                <div class="masonry__container masonry--active">
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/bar_pic2.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/bar_pic2.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/bar_pic3.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/bar_pic3.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/bar_pic4" data-lightbox="Gallery 1"> <img alt="Image" src="../img/bar_pic4.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/bar_map.png" data-lightbox="Gallery 1"> <img alt="Image" src="../img/bar_map.png"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/bar_pic5.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/bar_pic5.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_co-op.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_co-op.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/bar_pic6.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/bar_pic6.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/bar_pic7.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/bar_pic7.jpg"> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>