<section class="bg--light" data-gradient-bg="#F4E2D4,#FDB664">
    <div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2>Photo Gallery</h2>
					</div>
				</div>
        <div class="row">
            <div class="masonry">
                <div class="masonry__container masonry--active">
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_air1.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_air1.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_air2.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_air2.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_air3.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_air3.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_int2a.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_int2a.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_ext10a.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_ext10a.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_cowork1.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_cowork1.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_resident.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_resident.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_cowork2.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_cowork2.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_cowork3.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_cowork3.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_lobby.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_lobby.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_artscreens.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_artscreens.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_collab.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_collab.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_mural.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_mural.jpg"> </a>
                    </div>

                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_co-op.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_co-op.jpg"> </a>
                    </div>
                    <div class="masonry__item col-md-4 col-xs-6 filter-people" data-masonry-filter="People">
                        <a href="../img/hub_ext8a.jpg" data-lightbox="Gallery 1"> <img alt="Image" src="../img/hub_ext8a.jpg"> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>