<section class="bg--primary">
  <div class="container">
			<a id="pricing"></a>
      <div class="row">
          <div class="col-sm-4 col-sm-push-1">
              <div class="pricing pricing-1 boxed boxed--lg boxed--border boxed--emphasis bg--secondary">
                  <h3>Bootstrapper Membership</h3>
                  <span class="h2">
                      <strong>$450.00</strong>
                  </span>
                  <span class="type--fine-print">Per Month, AUD excl GST.</span>
									<span class="label bg--primary">Introductory</span>
                  <hr>
                  <ul>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Full-time monthly membership</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Unlimited use of dedicated desk pod</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>24/7 Access</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Dedicated Sit-stand Desk & Chair</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Ergonomic Chair</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Really really really fast internet</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Entrepreneurial support</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Access to Hub events</span>
                    </li>
                  </ul>
                  <a class="btn btn--primary-1" href="apply.html" target="_new">
                      <span class="btn__text">
                          Apply for Membership
                      </span>
                  </a>


              </div>
							<p class="type--fine-print bg--dark">* No payment details are collected in the application process.</p>
              <!--end of pricing-->
          </div>
          <div class="col-sm-4 col-sm-push-3">
              <div class="pricing pricing-1 boxed boxed--lg boxed--border boxed--emphasis">
                  <h3>Flex<br> Membership</h3>
                  <span class="h2">
                      <strong>$275.00</strong>
                  </span>
                  <span class="type--fine-print">Per Month, AUD excl GST.</span>
									<span class="label bg--primary">Introductory</span>
                  <hr>
                  <ul>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Part-time monthly membership</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Limited to 7 days use per month</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>24/7 Access</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Shared Desk</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Ergonomic sit stand stool</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Really really really fast internet</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Entrepreneurial support</span>
                    </li>
                    <li>
                        <span class="checkmark bg--primary-1"></span>
                        <span>Access to Hub events</span>
                    </li>
                  </ul>
                  <a class="btn btn--primary-1" href="apply.html" target="_new">
                      <span class="btn__text">
                          Apply for Membership
                      </span>
                  </a>


              </div>
							<p class="type--fine-print bg--dark">* No payment details are collected in the application process.</p>
              <!--end of pricing-->
          </div>

      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
</section>