<section class=" ">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="feature feature-2 boxed boxed--border">
                    <i class="icon icon-Wifi-2 color--primary"></i>
                    <div class="feature__body">
                        <p>
                            Gigabit fibre connection to the Hub. Optional private, dedicated network access. Wifi network access throughout the hub.
                        </p>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
                <div class="feature feature-2 boxed boxed--border">
                    <i class="icon icon-Affiliate color--primary"></i>
                    <div class="feature__body">
                        <p>
                            Hub management providing entrepreneurial support to tenants and curating skills development & mentoring programs.
                        </p>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
                <div class="feature feature-2 boxed boxed--border">
                    <i class="icon icon-Security-Check color--primary"></i>
                    <div class="feature__body">
                        <p>
														24/7 secure building access with entry/exit security camera system. Private secure access to individual leased areas.
                        </p>
                    </div>
                </div>
                <!--end feature-->
            </div>
        </div>
        <div class="row mt--1">
            <div class="col-sm-4">
                <div class="feature feature-2 boxed boxed--border">
                    <i class="icon icon-Computer color--primary"></i>
                    <div class="feature__body">
                        <p>
                            Meeting room facilities on ground and upper floors with AV in select rooms. Breakout areas and outdoor, undercover seating.
                        </p>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
                <div class="feature feature-2 boxed boxed--border">
                    <i class="icon icon-Car-3 color--primary"></i>
                    <div class="feature__body">
                        <p>
                            Hub car parking, bike racks and end of trip facilities. Bus stop conveniently located outside front entrance.
                        </p>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4">
                <div class="feature feature-2 boxed boxed--border">
                    <i class="icon icon-Plates color--primary"></i>
                    <div class="feature__body">
                        <p>
														Food/drink options within 400m of Hub: coffee shops, French bakery, Sushi, Raw Energy, Pubs, IGA Deli, Pizza, Seafood, Thai & Indian.  
                        </p>
                    </div>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>