<section class="text-center ">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-push-2">
                <div class="feature feature-1">
                    <img alt="Image" src="../img/hub_air4.jpg">
                    <div class="feature__body boxed boxed--lg boxed--border">
                        <h3>The Facility</h3>
                        <p class="lead">
                            Explore this purpose-built facility via the image gallery, 3d tour and floorplans.
                        </p>
                        <a href="/hub">
                            Learn More
                        </a>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-sm-4 col-sm-push-2">
                <div class="feature feature-1">
                    <img alt="Image" src="../img/hub_air1.jpg">
                    <div class="feature__body boxed boxed--lg boxed--border">
                        <h3>The Location</h3>
                        <p class="lead">
                            The Hub is located in Peregian Beach. Learn more about this beautiful beachside location. 
                        </p>
                        <a href="/location">
                            Learn More
                        </a>
                    </div>
                </div>
                <!--end feature-->
            </div>

        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>