<a id="join"></a>
<section class="text-center bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h2>Apply To Join The Hub</h2>
                <p class="lead">
                    The Hub's flexible environment is designed to host a mix of teams and individuals. 
                </p>
								<p class="lead">Enterprises needing their own discrete office space within the Hub for their team, are required to submit a tender application. Individuals needing a desk within a shared co-working space, are required to register their interest via an online application form.</p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>